@model FileUploadMvc.Models.ViewModel
<form action="home/Upload" method="post" enctype="multipart/form-data">

    <label for="file">Filename:</label>
    <input type="file" name="file" id="file" />

    <input type="submit" />
</form>


<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>FileName</th>
        <th>FilePath</th>
        <th>CreateDate</th>
    </tr>

    @*@foreach (var item in Model.Files)
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Id)</td>
        <td>@Html.DisplayFor(modelItem => item.FileName)</td>
        <td>@Html.ActionLink("SomeShittyRecord","LoadRecord","Home", new { id = item.Id }, null)</td>
        <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>

    </tr>
    }*@
</table>